@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

$green:#27ae60;
$black:#130f40;
$white:#fff;
$light-color:#666;
$light-bg:#f7f7f7;
$border:.1rem solid rgba(0,0,0,.2);
$box-shadow:0 1rem 1rem rgba(0,0,0,.05);


.about{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:2rem;
  background: $light-bg;

  .image{
    flex:1 1 40rem;

    img{
      width: 100%;
    }
  }

  .content{
    flex:1 1 40rem;

    span{
      @include font(3rem);
    }

    .title{
      font-size: 3rem;
      padding-top: .5rem;
      color:$black;
    }

    p{
      padding:1rem 0;
      line-height: 2;
      font-size: 1.4rem;
      color:$light-color;
    }

    .icons-container{
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      gap:1.5rem;

      .icons{
        flex:1 1 20rem;
        border-radius: .5rem;
        background: $white;
        box-shadow: $box-shadow;
        display: flex;
        align-items: center;
        gap:2rem;
        padding:2rem;

        h3{
          font-size: 1.6rem;
          color:$black;
        }
      }
    }
  }
}



// media queries 

@media (max-width:991px){

  html{
    font-size: 55%;
  }

  .header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

